// https://fonts.google.com/specimen/Poppins

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$poppins-family: 'Poppins', sans-serif;
$open-sans-family: 'Open Sans', sans-serif;

$fonts: (
  header: $poppins-family,
  label: $poppins-family,
  body1: $open-sans-family,
) !default;

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
) !default;
