@import '../../styles/core';

@include component('.primary-header') {
  $this: &;

  width: 100%;
  background-color: get-color(light);
  display: flex;
  align-items: center;

  // Inner Container
  &__container {
    @include container($direction: row);
  }

  &__title {
    @include header(h3);
    margin-right: get-spacing(xxl);

    a {
      color: get-color(primary);
      text-decoration: none;
    }
  }

  &__nav {
    @include label(nav-item);
    color: get-color(primary);
    display: inline-flex;
    align-items: center;

    &__item {
      margin: 0 get-spacing(md);
      display: inline-flex;
      color: get-color(primary);

      &--active {
        color: get-color(secondary);
      }
    }
  }
}

// https://github.com/WickyNilliams/headroom.js
// Sticky Header animation
@include component('.headroom') {
  $header-height: map-get($primary-header-heights, mobile);

  width: 100%;
  position: fixed;
  top: 0;
  will-change: transform;
  transition: transform 200ms ease-in-out;
  z-index: 10;

  &--pinned {
    transform: translateY(0%);
  }

  &--unpinned {
    transform: translateY(calc(-#{$header-height}));
  }

  // Tablet and Up
  @include media('>mobile') {
    $header-height: map-get($primary-header-heights, desktop);

    &--pinned {
      transform: translateY(0%);
    }

    &--unpinned {
      transform: translateY(calc(-#{$header-height}));
    }
  }
}
