@import './styles/core';

@include universal-box-sizing();
@include focus-visible();

html,
body {
  margin: 0;
  scroll-padding-top: map-get($primary-header-heights, mobile);

  // Desktop
  @include media('>tablet') {
    scroll-padding-top: map-get($primary-header-heights, desktop);
  }
}

body {
  font-family: get-font(body1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
