@import './styles/core';

@include universal-box-sizing();
@include focus-visible();

// Global Styles

html,
body {
  margin: 0;
  scroll-padding-top: map-get($primary-header-heights, mobile);

  // Desktop
  @include media('>tablet') {
    scroll-padding-top: map-get($primary-header-heights, desktop);
  }
}

body {
  font-family: get-font(body1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include container($direction: column);
  $header-group-height: map-get($primary-header-heights, mobile);

  --header-group-height: #{$header-group-height};
  padding-top: var(--header-group-height);

  // Tablet and Up
  @include media('>=tablet') {
    $header-group-height: map-get($primary-header-heights, desktop);

    --header-group-height: #{$header-group-height};
    padding-top: var(--header-group-height);
  }

  padding-bottom: get-spacing(xxl);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  @include container();
}

.link {
  color: get-color(secondary);
}

.inset-padding {
  padding: get-spacing(lg);
}

@include component('.footer') {
  background-color: get-color(light);
  padding: get-spacing(md) 0;
  display: flex;

  &__container {
    @include container($direction: row);
  }

  &__copyright {
    @include label(small);
  }
}
