@import '../../styles/core';

@include component('.data-table') {
  $this: &;
  $sort-icon-size: 16px;
  $thumbnail-size: 80px;

  width: 100%;
  padding: get-spacing(lg) 0;
  text-align: left;

  .thumbnail {
    width: $thumbnail-size;
    display: block;
  }

  table {
    width: 100%;
    border-collapse: separate;
  }

  th {
    padding: get-spacing(md) get-spacing(sm);
    border-bottom: 1px solid get-color(border);
    vertical-align: middle;

    .header-label {
      display: inline-flex;
      margin-right: get-spacing(sm);
    }
  }

  td {
    padding: get-spacing(md) get-spacing(sm);
    vertical-align: top;
    border-bottom: 1px solid get-color(border);
  }

  .details-column-content {
    max-width: 450px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
